// src/input/ingame_bindings.rs
(
    axes: {
        MoveX:       Emulated(pos: Key(D), neg: Key(A)),
        ClimbLadder: Emulated(pos: Key(W), neg: Key(S)),
    },
    actions: {
        Jump:     [ [Key(Space)], [Key(K)], ],
        Interact: [ [Key(E)], [Key(J)], ],
    },
)
