// src/settings/beartrap_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 16.0,
        h: 8.0,
    ),
    hitbox: [(
        top:     0.0,
        bottom: -4.0,
        left:   -5.0,
        right:   5.0,
    )],
    beartrap: (
        crippled_duration_ms: 8000,
        crippled_movement: (
            acceleration: 60.0,
            max_velocity: 100.0,
        ),
    ),
)
