// src/settings/bonfire_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 32.0,
        h: 80.0,
    ),
    hitbox: [(
        top:     0.0,
        bottom: -40.0,
        left:   -20.0,
        right:   20.0,
    )],
    bonfire: (
        flame_decrease: (
            step: 0.1,
            interval_ms: 100,
            // Increase the flame radius decrease step by this value
            // for each wood the bonfire has.
            // Pseudo formula:
            //     step += woods * wood_decrease
            wood_decrease: 0.1,
        ),
    ),
    flame: (
        radius: 100.0,
        min_radius: 30.0,
        wood_radius_increase: 20.0,
    ),
    wood_inventory: (
        max_woods: 1000,
    ),
    animations: {
        Idle: Cycle([
            (0, 100),
            (1, 100),
            (2, 100),
            (3, 100),
            (4, 100),
            (5, 100),
        ]),
    },

    /// HALO SETTINGS
    halo: (
        halo: (
            size_margin: 8.0,
        ),

        /// optional animation
        animation: [
            (0, 100),
            (1, 100),
            (2, 100),
            (3, 100),
        ]
    ),
)
