// src/settings/player_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 32.0,
        h: 48.0, // = w * 1.5
    ),
    hitbox: [(
        top:     22.0,
        bottom: -24.0,
        left:   -8.0,
        right:   8.0,
    )],
    movable: (
        acceleration:               450.0,
        max_velocity:               100.0,
        jump_strength:              145.0,
        kill_jump_strength:         -50.0,
        kill_jump_min_velocity:     10.0,
        climb_acceleration:         800.0,
        max_climb_velocity:         50.0,
        // percentage per wood to decrease acceleration and max_velocity by
        wood_speed_decrease_factor: 10.0,
    ),
    base_friction: (
        friction_x: 500.0,
        friction_y: 500.0, // NOTE: only used when climbing ladders!
    ),
    gravity: (
        y: -300.0,
    ),
    flame: (
        radius: 50.0,
        min_radius: 30.0,
        wood_radius_increase: 20.0,
    ),
    halo: (
        halo: (
            size_margin: 8.0,
        ),
        animation: [
            (0, 100),
            (1, 100),
            (2, 100),
            (3, 100),
        ]
    ),
    wood_inventory: (
        max_woods: 3,
    ),
    animations: {
        Idle: Cycle([
            (0, 600),
            (1, 600),
        ]),
        Walk: Cycle([
            (2, 200),
            (3, 200),
            (4, 200),
            (5, 200),
            (6, 200),
            (7, 200),
        ]),
        Jump: Cycle([
            (18, 1000),
        ]),
        CrippledIdle: Cycle([
            (8, 600),
            (9, 600),
        ]),
        CrippledWalk: Cycle([
            (10, 200),
            (11, 200),
            (12, 200),
            (13, 200),
            (14, 200),
            (15, 200),
        ]),
        ClimbingIdle: Cycle([
            (16, 1000),
        ]),
        Climbing: Cycle([
            (16, 200),
            (17, 200),
        ]),
    },
)
