// src/settings/player_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 8.0,
        h: 8.0
    ),
    hitbox: [
        (
            top:     4.0,
            bottom: -4.0,
            left:   -4.0,
            right:   4.0,
        ),
    ],
    movable: (
        acceleration:           500.0,
        max_velocity:           50.0,
        jump_strength:          100.0,
        kill_jump_strength:     -50.0,
        kill_jump_min_velocity: 10.0,
    ),
    base_friction: (
        friction_x: 500.0,
        // friction_y: 100.0,
    ),
    gravity: (
        y: -300.0,
    ),
    flame: (
        radius: 50.0,
    ),
    animations_container: {
        Idle: Cycle([
            (0, 500),
            (1, 500),
        ]),
        Walk: Cycle([
            (0, 200),
            (1, 200),
            (2, 200),
            (3, 200),
        ]),
        Jump: Cycle([
            (0, 300),
            (1, 300),
            (2, 300),
            (1, 300),
            (3, 300),
            (2, 300),
            (1, 300),
        ]),
    },
)
