// src/settings/player_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 4.0,
        h: 4.0
    ),
    hitbox: [
        (
            top:     2.0,
            bottom: -2.0,
            left:   -2.0,
            right:   2.0,
        ),
    ],
    movable: (
        acceleration:           300.0,
        max_velocity:           500.0,
        jump_strength:          50.0,
        kill_jump_strength:     -50.0,
        kill_jump_min_velocity: 10.0,
    ),
    base_friction: (
        friction_x: 100.0,
        // friction_y: 100.0,
    ),
    gravity: (
        y: -100.0,
    ),
)
