// src/settings/songs_settings.rs
#![enable(implicit_some)]
{
    MainMenu: (
        file: "title.wav",
        should_loop: true,
    ),
    Ambience: (
        file: "title.wav",
        should_loop: true,
    ),
}
