// src/settings/songs_settings.rs
#![enable(implicit_some)]
{
    MainMenu: (
        file: "deathfloor_floor1_wip.ogg",
        should_loop: true,
    ),
    Ambience: (
        file: "cntrlgun.ogg",
        should_loop: true,
    ),
}
