// src/settings/sounds_settings.rs
#![enable(implicit_some)]
(
    update_interval_ms: 1000,
    play_chance:        0.5,
    sound_groups: [
        (
            name: "growl",
            sounds: [
                "growl/growl_1.wav",
                "growl/growl_1_left.wav",
                "growl/growl_1_right.wav",
                "growl/growl_2.wav",
                "growl/growl_2_left.wav",
                "growl/growl_2_right.wav",
                "growl/growl_3.wav",
                "growl/growl_3_left.wav",
                "growl/growl_3_right.wav",
                "growl/growl_4.wav",
                "growl/growl_4_left.wav",
                "growl/growl_4_right.wav",
                "growl/growl_5.wav",
                "growl/growl_5_left.wav",
                "growl/growl_5_right.wav",
                "growl/growl_6.wav",
                "growl/growl_6_left.wav",
                "growl/growl_6_right.wav",
                "growl/growl_7.wav",
                "growl/growl_7_left.wav",
                "growl/growl_7_right.wav",
                "growl/growl_8.wav",
                "growl/growl_8_left.wav",
                "growl/growl_8_right.wav",
                "growl/growl_9.wav",
                "growl/growl_9_left.wav",
                "growl/growl_9_right.wav",
                "growl/growl_10.wav",
                "growl/growl_10_left.wav",
                "growl/growl_10_right.wav",
            ],
        ),
        (
            name: "footsteps",
            sounds: [
                "footsteps/footsteps_1_left.wav",
                "footsteps/footsteps_1_right.wav",
            ],
        ),
    ],
)
