// src/settings/tiles_settings.rs
#![enable(implicit_some)]
{
    "Ground": (
        is_solid: true,
    ),

    "Reactive": (
        is_solid: false,
        reactive_animations: {
            Default: Cycle([(0, 1000)]),
            OnEnter: Once([
                (0, 50),
                (1, 50),
            ]),
            OnSteady: Once([
                (2, 100),
                (3, 100),
            ]),
            OnLeave: Once([
                (2, 50),
                (1, 50),
            ]),
        },
    ),
}
