// src/settings/tiles_settings.rs
#![enable(implicit_some)]
{
    "Ground": (
        is_solid: true,
    ),

    "Reactive": (
        is_solid: false,
        reactive_animations: {
            Default: Cycle([(0, 1000)]),
            OnEnter: Once([
                (0, 50),
                (1, 50),
            ]),
            OnSteady: Cycle([
                (2, 250),
                (3, 250),
                (2, 250),
                (1, 250),
                (0, 250),
                (1, 250),
            ]),
            OnLeave: Once([
                (2, 50),
                (1, 50),
            ]),
        },
    ),

    "Grass_0": (reactive_animations: {Default: Cycle([(0, 1000)]), OnEnter: Once([(0, 100),(18, 100),(36, 100)])}),
    "Grass_1": (reactive_animations: {Default: Cycle([(1, 1000)]), OnEnter: Once([(1, 100),(19, 100),(37, 100)])}),
    "Grass_2": (reactive_animations: {Default: Cycle([(2, 1000)]), OnEnter: Once([(2, 100),(20, 100),(38, 100)])}),
    "Grass_3": (reactive_animations: {Default: Cycle([(3, 1000)]), OnEnter: Once([(3, 100),(21, 100),(39, 100)])}),
    "Grass_4": (reactive_animations: {Default: Cycle([(4, 1000)]), OnEnter: Once([(4, 100),(22, 100),(40, 100)])}),
    "Grass_5": (reactive_animations: {Default: Cycle([(5, 1000)]), OnEnter: Once([(5, 100),(23, 100),(41, 100)])}),
    "Grass_6": (reactive_animations: {Default: Cycle([(6, 1000)]), OnEnter: Once([(6, 100),(24, 100),(42, 100)])}),
    "Grass_7": (reactive_animations: {Default: Cycle([(7, 1000)]), OnEnter: Once([(7, 100),(25, 100),(43, 100)])}),
    "Grass_8": (reactive_animations: {Default: Cycle([(8, 1000)]), OnEnter: Once([(8, 100),(26, 100),(44, 100)])}),
    "Grass_9": (reactive_animations: {Default: Cycle([(9, 1000)]), OnEnter: Once([(9, 100),(27, 100),(45, 100)])}),
    "Grass_10": (reactive_animations: {Default: Cycle([(10, 1000)]), OnEnter: Once([(10, 100),(28, 100),(46, 100)])}),
    "Grass_11": (reactive_animations: {Default: Cycle([(11, 1000)]), OnEnter: Once([(11, 100),(29, 100),(47, 100)])}),
    "Grass_12": (reactive_animations: {Default: Cycle([(12, 1000)]), OnEnter: Once([(12, 100),(30, 100),(48, 100)])}),
    "Grass_13": (reactive_animations: {Default: Cycle([(13, 1000)]), OnEnter: Once([(13, 100),(31, 100),(49, 100)])}),
    "Grass_14": (reactive_animations: {Default: Cycle([(14, 1000)]), OnEnter: Once([(14, 100),(32, 100),(50, 100)])}),
    "Grass_15": (reactive_animations: {Default: Cycle([(15, 1000)]), OnEnter: Once([(15, 100),(33, 100),(51, 100)])}),
    "Grass_16": (reactive_animations: {Default: Cycle([(16, 1000)]), OnEnter: Once([(16, 100),(34, 100),(52, 100)])}),
    "Grass_17": (reactive_animations: {Default: Cycle([(17, 1000)]), OnEnter: Once([(17, 100),(35, 100),(53, 100)])}),
    "Grass_18": (reactive_animations: {Default: Cycle([(18, 1000)]), OnEnter: Once([(18, 100),(36, 100),(54, 100)])}),
    "Grass_19": (reactive_animations: {Default: Cycle([(19, 1000)]), OnEnter: Once([(19, 100),(37, 100),(55, 100)])}),
    "Grass_20": (reactive_animations: {Default: Cycle([(20, 1000)]), OnEnter: Once([(20, 100),(38, 100),(56, 100)])}),
    "Grass_21": (reactive_animations: {Default: Cycle([(21, 1000)]), OnEnter: Once([(21, 100),(39, 100),(57, 100)])}),
    "Grass_22": (reactive_animations: {Default: Cycle([(22, 1000)]), OnEnter: Once([(22, 100),(40, 100),(58, 100)])}),
    "Grass_23": (reactive_animations: {Default: Cycle([(23, 1000)]), OnEnter: Once([(23, 100),(41, 100),(59, 100)])}),
    "Grass_24": (reactive_animations: {Default: Cycle([(24, 1000)]), OnEnter: Once([(24, 100),(42, 100),(60, 100)])}),
    "Grass_25": (reactive_animations: {Default: Cycle([(25, 1000)]), OnEnter: Once([(25, 100),(43, 100),(61, 100)])}),
    "Grass_26": (reactive_animations: {Default: Cycle([(26, 1000)]), OnEnter: Once([(26, 100),(44, 100),(62, 100)])}),
    "Grass_27": (reactive_animations: {Default: Cycle([(27, 1000)]), OnEnter: Once([(27, 100),(45, 100),(63, 100)])}),
    "Grass_28": (reactive_animations: {Default: Cycle([(28, 1000)]), OnEnter: Once([(28, 100),(46, 100),(64, 100)])}),
    "Grass_29": (reactive_animations: {Default: Cycle([(29, 1000)]), OnEnter: Once([(29, 100),(47, 100),(65, 100)])}),
    "Grass_30": (reactive_animations: {Default: Cycle([(30, 1000)]), OnEnter: Once([(30, 100),(48, 100),(66, 100)])}),
    "Grass_31": (reactive_animations: {Default: Cycle([(31, 1000)]), OnEnter: Once([(31, 100),(49, 100),(67, 100)])}),
    "Grass_32": (reactive_animations: {Default: Cycle([(32, 1000)]), OnEnter: Once([(32, 100),(50, 100),(68, 100)])}),
    "Grass_33": (reactive_animations: {Default: Cycle([(33, 1000)]), OnEnter: Once([(33, 100),(51, 100),(69, 100)])}),
    "Grass_34": (reactive_animations: {Default: Cycle([(34, 1000)]), OnEnter: Once([(34, 100),(52, 100),(70, 100)])}),
    "Grass_35": (reactive_animations: {Default: Cycle([(35, 1000)]), OnEnter: Once([(35, 100),(53, 100),(71, 100)])}),
    "Grass_36": (reactive_animations: {Default: Cycle([(36, 1000)]), OnEnter: Once([(36, 100),(54, 100),(72, 100)])}),
    "Grass_37": (reactive_animations: {Default: Cycle([(37, 1000)]), OnEnter: Once([(37, 100),(55, 100),(73, 100)])}),
    "Grass_38": (reactive_animations: {Default: Cycle([(38, 1000)]), OnEnter: Once([(38, 100),(56, 100),(74, 100)])}),
    "Grass_39": (reactive_animations: {Default: Cycle([(39, 1000)]), OnEnter: Once([(39, 100),(57, 100),(75, 100)])}),
    "Grass_40": (reactive_animations: {Default: Cycle([(40, 1000)]), OnEnter: Once([(40, 100),(58, 100),(76, 100)])}),
    "Grass_41": (reactive_animations: {Default: Cycle([(41, 1000)]), OnEnter: Once([(41, 100),(59, 100),(77, 100)])}),
    "Grass_42": (reactive_animations: {Default: Cycle([(42, 1000)]), OnEnter: Once([(42, 100),(60, 100),(78, 100)])}),
    "Grass_43": (reactive_animations: {Default: Cycle([(43, 1000)]), OnEnter: Once([(43, 100),(61, 100),(79, 100)])}),
    "Grass_44": (reactive_animations: {Default: Cycle([(44, 1000)]), OnEnter: Once([(44, 100),(62, 100),(80, 100)])}),
    "Grass_45": (reactive_animations: {Default: Cycle([(45, 1000)]), OnEnter: Once([(45, 100),(63, 100),(81, 100)])}),
    "Grass_46": (reactive_animations: {Default: Cycle([(46, 1000)]), OnEnter: Once([(46, 100),(64, 100),(82, 100)])}),
    "Grass_47": (reactive_animations: {Default: Cycle([(47, 1000)]), OnEnter: Once([(47, 100),(65, 100),(83, 100)])}),
    "Grass_48": (reactive_animations: {Default: Cycle([(48, 1000)]), OnEnter: Once([(48, 100),(66, 100),(84, 100)])}),
    "Grass_49": (reactive_animations: {Default: Cycle([(49, 1000)]), OnEnter: Once([(49, 100),(67, 100),(85, 100)])}),
    "Grass_50": (reactive_animations: {Default: Cycle([(50, 1000)]), OnEnter: Once([(50, 100),(68, 100),(86, 100)])}),
    "Grass_51": (reactive_animations: {Default: Cycle([(51, 1000)]), OnEnter: Once([(51, 100),(69, 100),(87, 100)])}),
    "Grass_52": (reactive_animations: {Default: Cycle([(52, 1000)]), OnEnter: Once([(52, 100),(70, 100),(88, 100)])}),
    "Grass_53": (reactive_animations: {Default: Cycle([(53, 1000)]), OnEnter: Once([(53, 100),(71, 100),(89, 100)])}),
    "Grass_54": (reactive_animations: {Default: Cycle([(54, 1000)]), OnEnter: Once([(54, 100),(72, 100),(90, 100)])}),
    "Grass_55": (reactive_animations: {Default: Cycle([(55, 1000)]), OnEnter: Once([(55, 100),(73, 100),(91, 100)])}),
    "Grass_56": (reactive_animations: {Default: Cycle([(56, 1000)]), OnEnter: Once([(56, 100),(74, 100),(92, 100)])}),
    "Grass_57": (reactive_animations: {Default: Cycle([(57, 1000)]), OnEnter: Once([(57, 100),(75, 100),(93, 100)])}),
    "Grass_58": (reactive_animations: {Default: Cycle([(58, 1000)]), OnEnter: Once([(58, 100),(76, 100),(94, 100)])}),
    "Grass_59": (reactive_animations: {Default: Cycle([(59, 1000)]), OnEnter: Once([(59, 100),(77, 100),(95, 100)])}),
    "Grass_60": (reactive_animations: {Default: Cycle([(60, 1000)]), OnEnter: Once([(60, 100),(78, 100),(96, 100)])}),
    "Grass_61": (reactive_animations: {Default: Cycle([(61, 1000)]), OnEnter: Once([(61, 100),(79, 100),(97, 100)])}),
    "Grass_62": (reactive_animations: {Default: Cycle([(62, 1000)]), OnEnter: Once([(62, 100),(80, 100),(98, 100)])}),
    "Grass_63": (reactive_animations: {Default: Cycle([(63, 1000)]), OnEnter: Once([(63, 100),(81, 100),(99, 100)])}),
    "Grass_64": (reactive_animations: {Default: Cycle([(64, 1000)]), OnEnter: Once([(64, 100),(82, 100),(100, 100)])}),
    "Grass_65": (reactive_animations: {Default: Cycle([(65, 1000)]), OnEnter: Once([(65, 100),(83, 100),(101, 100)])}),
    "Grass_66": (reactive_animations: {Default: Cycle([(66, 1000)]), OnEnter: Once([(66, 100),(84, 100),(102, 100)])}),
    "Grass_67": (reactive_animations: {Default: Cycle([(67, 1000)]), OnEnter: Once([(67, 100),(85, 100),(103, 100)])}),
    "Grass_68": (reactive_animations: {Default: Cycle([(68, 1000)]), OnEnter: Once([(68, 100),(86, 100),(104, 100)])}),
    "Grass_69": (reactive_animations: {Default: Cycle([(69, 1000)]), OnEnter: Once([(69, 100),(87, 100),(105, 100)])}),
    "Grass_70": (reactive_animations: {Default: Cycle([(70, 1000)]), OnEnter: Once([(70, 100),(88, 100),(106, 100)])}),
    "Grass_71": (reactive_animations: {Default: Cycle([(71, 1000)]), OnEnter: Once([(71, 100),(89, 100),(107, 100)])}),
    "Grass_72": (reactive_animations: {Default: Cycle([(72, 1000)]), OnEnter: Once([(72, 100),(90, 100),(108, 100)])}),
    "Grass_73": (reactive_animations: {Default: Cycle([(73, 1000)]), OnEnter: Once([(73, 100),(91, 100),(109, 100)])}),
    "Grass_74": (reactive_animations: {Default: Cycle([(74, 1000)]), OnEnter: Once([(74, 100),(92, 100),(110, 100)])}),
    "Grass_75": (reactive_animations: {Default: Cycle([(75, 1000)]), OnEnter: Once([(75, 100),(93, 100),(111, 100)])}),
    "Grass_76": (reactive_animations: {Default: Cycle([(76, 1000)]), OnEnter: Once([(76, 100),(94, 100),(112, 100)])}),
    "Grass_77": (reactive_animations: {Default: Cycle([(77, 1000)]), OnEnter: Once([(77, 100),(95, 100),(113, 100)])}),
    "Grass_78": (reactive_animations: {Default: Cycle([(78, 1000)]), OnEnter: Once([(78, 100),(96, 100),(114, 100)])}),
    "Grass_79": (reactive_animations: {Default: Cycle([(79, 1000)]), OnEnter: Once([(79, 100),(97, 100),(115, 100)])}),
    "Grass_80": (reactive_animations: {Default: Cycle([(80, 1000)]), OnEnter: Once([(80, 100),(98, 100),(116, 100)])}),
    "Grass_81": (reactive_animations: {Default: Cycle([(81, 1000)]), OnEnter: Once([(81, 100),(99, 100),(117, 100)])}),
    "Grass_82": (reactive_animations: {Default: Cycle([(82, 1000)]), OnEnter: Once([(82, 100),(100, 100),(118, 100)])}),
    "Grass_83": (reactive_animations: {Default: Cycle([(83, 1000)]), OnEnter: Once([(83, 100),(101, 100),(119, 100)])}),
    "Grass_84": (reactive_animations: {Default: Cycle([(84, 1000)]), OnEnter: Once([(84, 100),(102, 100),(120, 100)])}),
    "Grass_85": (reactive_animations: {Default: Cycle([(85, 1000)]), OnEnter: Once([(85, 100),(103, 100),(121, 100)])}),
    "Grass_86": (reactive_animations: {Default: Cycle([(86, 1000)]), OnEnter: Once([(86, 100),(104, 100),(122, 100)])}),
    "Grass_87": (reactive_animations: {Default: Cycle([(87, 1000)]), OnEnter: Once([(87, 100),(105, 100),(123, 100)])}),
    "Grass_88": (reactive_animations: {Default: Cycle([(88, 1000)]), OnEnter: Once([(88, 100),(106, 100),(124, 100)])}),
    "Grass_89": (reactive_animations: {Default: Cycle([(89, 1000)]), OnEnter: Once([(89, 100),(107, 100),(125, 100)])}),
    "Grass_90": (reactive_animations: {Default: Cycle([(90, 1000)]), OnEnter: Once([(90, 100),(108, 100),(126, 100)])}),
    "Grass_91": (reactive_animations: {Default: Cycle([(91, 1000)]), OnEnter: Once([(91, 100),(109, 100),(127, 100)])}),
    "Grass_92": (reactive_animations: {Default: Cycle([(92, 1000)]), OnEnter: Once([(92, 100),(110, 100),(128, 100)])}),
    "Grass_93": (reactive_animations: {Default: Cycle([(93, 1000)]), OnEnter: Once([(93, 100),(111, 100),(129, 100)])}),
    "Grass_94": (reactive_animations: {Default: Cycle([(94, 1000)]), OnEnter: Once([(94, 100),(112, 100),(130, 100)])}),
    "Grass_95": (reactive_animations: {Default: Cycle([(95, 1000)]), OnEnter: Once([(95, 100),(113, 100),(131, 100)])}),
    "Grass_96": (reactive_animations: {Default: Cycle([(96, 1000)]), OnEnter: Once([(96, 100),(114, 100),(132, 100)])}),
    "Grass_97": (reactive_animations: {Default: Cycle([(97, 1000)]), OnEnter: Once([(97, 100),(115, 100),(133, 100)])}),
    "Grass_98": (reactive_animations: {Default: Cycle([(98, 1000)]), OnEnter: Once([(98, 100),(116, 100),(134, 100)])}),
    "Grass_99": (reactive_animations: {Default: Cycle([(99, 1000)]), OnEnter: Once([(99, 100),(117, 100),(135, 100)])}),
    "Grass_100": (reactive_animations: {Default: Cycle([(100, 1000)]), OnEnter: Once([(100, 100),(118, 100),(136, 100)])}),
    "Grass_101": (reactive_animations: {Default: Cycle([(101, 1000)]), OnEnter: Once([(101, 100),(119, 100),(137, 100)])}),
    "Grass_102": (reactive_animations: {Default: Cycle([(102, 1000)]), OnEnter: Once([(102, 100),(120, 100),(138, 100)])}),
    "Grass_103": (reactive_animations: {Default: Cycle([(103, 1000)]), OnEnter: Once([(103, 100),(121, 100),(139, 100)])}),
    "Grass_104": (reactive_animations: {Default: Cycle([(104, 1000)]), OnEnter: Once([(104, 100),(122, 100),(140, 100)])}),
    "Grass_105": (reactive_animations: {Default: Cycle([(105, 1000)]), OnEnter: Once([(105, 100),(123, 100),(141, 100)])}),
    "Grass_106": (reactive_animations: {Default: Cycle([(106, 1000)]), OnEnter: Once([(106, 100),(124, 100),(142, 100)])}),
    "Grass_107": (reactive_animations: {Default: Cycle([(107, 1000)]), OnEnter: Once([(107, 100),(125, 100),(143, 100)])}),
}
