// src/settings/wood_spawner_settings.rs
#![enable(implicit_some)]
(
    wood_spawner: (
        // spawn wood in this interval, if it is active
        spawn_interval_ms: 20_000,
    ),
    wood_spawner_manager: (
        // Randomly make all wood spawners active or inactive
        update_interval_ms: 40_000,
        // Percentage of wood spawners to make active (0.0 - 1.0)
        active_percentage: 0.3,
        // Decrease `active_percentage` this step for each wood the bonfire has
        decrease_active_percentage_step: 0.03,
        // The minimum `active_percentage`
        min_active_percentage: 0.05,
    ),
)
