// src/settings/wood_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 32.0,
        h: 20.0,
    ),
    hitbox: [(
        top:     10.0,
        bottom: -10.0,
        left:   -8.0,
        right:   8.0,
    )],
    indicator: (
        size: (
            w: 32.0,
            h: 20.0,
        ),
        animation: [
            (0, 500),
        ],
    ),
)
