// src/settings/wood_settings.rs
#![enable(implicit_some)]
(
    size: (
        w: 20.0,
        h: 12.0,
    ),
    hitbox: [(
        top:     10.0,
        bottom: -10.0,
        left:   -8.0,
        right:   8.0,
    )],
)
